doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  block nav
    header
      .banner.center#marque
        h1= title

      form(action="/movies/find" method="POST")
        input(type="text" id="right" placeholder="Search Movies" name="movie")
      a(href='/movies/create' id="createMovie") Create Movie
      form(action="/actors/find" method="POST")
        input(type="text" id="left" placeholder="Search Actors" name="actor")
      a(href='/actors/create' id="createActor") Create Actor
    br
    br
    br

  block content

  block footer
    p
    a(href='/movies') About Us.
